%h1 YAML Lint
%p Paste in your YAML and click "Go" - we'll tell you if it's valid or not, and give you a nice clean UTF-8 version of it.  Optimized for Ruby.
= form_tag '/' do
  = text_area_tag :yaml, @yaml, :rows => "20", :escape => false, :class => 'lined', :style => "background-color:#EEEEEE;width:100%"
  = submit_tag 'Go'
- if defined?(@error)
  %div{:style => "background-color:red;color:white;width:100%;padding:10px;"}
    = @error
- elsif @yaml.present? && @yaml.length > 1
  %div{:style => "background-color:green;color:white;width:100%;padding:10px;"}
    Valid YAML!
:javascript
  $(function() {
    // Target all classed with ".lined"
    $(".lined").linedtextarea(
       {selectedLine: #{defined?(@error_line) ? @error_line.to_s : 'null'}}

    );
  });
