<h1>YAML Lint</h1>
<p>Paste in your YAML and click "Go" - we'll tell you if it's valid or not, and give you a nice clean UTF-8 version of it.  Optimized for Ruby.</p>

<%= form_tag '/' do %>
<%= text_area_tag :yaml, @yaml, :rows => "20", :escape => false, :class => 'lined', :style => "background-color:#EEEEEE;width:100%" %>
<%= submit_tag 'Go' %>
<% end %>
<% if defined?(@error) %>
  <div style="background-color:red;color:white;width:100%;padding:10px;">
  <%= @error %>
  </div>
<% elsif @yaml.present? && @yaml.length > 1 %>
  <div style="background-color:green;color:white;width:100%;padding:10px;">
  Valid YAML!
  </div>
<% end %>


<script>
$(function() {
  // Target all classed with ".lined"
  $(".lined").linedtextarea(
    <%= "{selectedLine: #{@error_line}}" if defined?(@error_line) %>
  );

});
</script>
