<!DOCTYPE html>
<html>
<head>
  <title>Yamllint</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery-linedtextarea' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
