<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="yamllint, yaml validator, yaml checker, yaml fixer, yaml formatter, validate yaml, fix yaml, check yaml, utf8, lint, ruby on rails yaml, ruby, rails" />
  <meta name="description" content="Validate and Verify your YAML documents, optimized for Ruby on Rails" />
  <title>YAMLlint - The YAML Validator</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery-linedtextarea' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18275534-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body style="font-family:Helvetica">
  <div id="wrapper" style="width:920px;margin:auto;">
    <div id="main_content" style="float:left;width:780px;">
      <%= yield %>
    </div>
    <div id="adsense" style="height:600px;width:120px;float:left;margin:10px;">
    <script type="text/javascript"><!--
    google_ad_client = "pub-1317734135448640";
    /* 120x600, created 8/30/10 */
    google_ad_slot = "9023269698";
    google_ad_width = 120;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    </div>
    <div style="clear:both;"></div>
  </div>

</body>
</html>
